.fa-brands.fa-instagram{
    font-size: 40px;
}
.first{
    font-size: 30px;
    font-family: 'Croissant One', cursive;
}
.fa-solid.fa-phone{
    font-size: 40px
}
.second{
    font-size: 30px;
    font-family: 'Dela Gothic One', cursive;
}
.fa-brands.fa-linkedin{
    font-size: 40px;
}
.thirth{
    font-size: 30px;
    font-family: 'Anton', cursive;
}