.card{
    width: 400px;
    margin-top: 700px;
    margin-left: 700px;
    border-radius: 10%;
    backdrop-filter: blur(20px);
    overflow: hidden;
    height: 200px;
    border-radius: 10%;
    box-shadow: 10px, 10px, 10px;
}
body{
    background-image: url(https://images.unsplash.com/photo-1617396900799-f4ec2b43c7ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2FsbHBhcGVyJTIwNGt8ZW58MHx8MHx8fDA%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh
    ;
}
.button{
    margin-top: 50px;
    margin-left: 20px;
    color: pink;
}
.txt1{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
.txt2{
    margin-top: 20px;
    margin-left: 20px;
    color: white;
}
